{% extends 'assets/base.html' %} 
{% block title %} Order Page {% endblock %} 
{% block content %}
{% include 'assets/topnav.html' %}


<div class="container">
  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8 " style =" overflow-y:scroll; overflow:auto; width:300px; height:500px;">
      <table class="table bg-white" style ="width:700px; height:50px; ">
        <thead class="bg-info">
          <tr class="text-white">
            <th scope="col" class="sortable column-contract_modification">
              <div class="text"><a href="?o=0.1.2.3.4.5">Product</a></div>
              <div class="clear"></div>
           </th>
            <th class="sortable column-contract_modification" scope="col">Category</th>
            <th class="sortable column-contract_modification" scope="col">Quantity</th>
            <th class="sortable column-contract_modification" scope="col">Order by</th>
            <th class="sortable column-contract_modification" scope="col">Order on</th>
          </tr>
        </thead>
        <tbody >
          {% for order in orders %}
          <tr>
            <td>{{ order.product }}</td>
            <td>{{ order.product.category }}</td>
            <td>{{ order.order_quantity }}</td>
            <td>{{ order.staff }}</td>
            <td>{{ order.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      <!-- <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Quantity</th>
            <th scope="col">Order by</th>
            <th scope="col">Order on</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
          <tr>
            <td>{{ order.product }}</td>
            <td>{{ order.product.category }}</td>
            <td>{{ order.order_quantity }}</td>
            <td>{{ order.staff }}</td>
            <td>{{ order.date }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
    </div>
  </div>
</div>

{% endblock %}
