{% extends 'assets/base.html' %} 
{% load crispy_forms_tags %}
{% block title %} Order Page {% endblock %} 
{% block content %} {% include 'assets/topnav.html' %}


<div class="container">
  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">

      <form method="get" style="display:flex;justify-content:space-around;align-items:center;">
     
        {{myFilter_order.form | crispy}}
        {% comment %} <input type="text" name="min_order_quantity" maxlength="4" size="3" />
        to
        <input type="text" name="max_order_quantity" maxlength="4" size="3" /> {% endcomment %}
        <button class="btn btn-primary mt-2" type="submit">Search</button>
      </form>
      <br>
      <div style="overflow: auto; height: 500px">
        <table class="table bg-white">
          <thead class="bg-info">
            <tr class="text-white">
              <th scope="col">Product</th>
              <th scope="col">Category</th>
              <th scope="col">Quantity</th>
              <th scope="col">Order by</th>
              <th scope="col">Order on</th>
            </tr>
          </thead>
          <tbody>
            {% for order in orders %}
            <tr>
              <td>{{ order.product }}</td>
              <td>{{ order.product.category }}</td>
              <td>{{ order.order_quantity }}</td>
              <td>{{ order.staff }}</td>
              <td>{{ order.date }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
